@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.leftsidecontent {
    background-image: url("Images/Splash.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100vw;
    color: white;
}

.logo {
    display: flex;
    position: relative;
    top: 20vh;
    padding: 3vh;
    background-color: rgba(0, 0, 0, 0.493);
    justify-content: center;
    align-items: center;
}

.desc {
    font-family:  'Tilt Prism', cursive, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.2rem;
}
.rightContent {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    font-size: 1em;
    background-color: gray;
}
.formsbody {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
}
.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 1rem;
    margin-left: 1em;
}
.account {
    margin-left: 1em;
}
.topContent {
    font-size: 2em;
    margin-left: .5em;
    padding-bottom: 20px;
}
.bottomContent {
    font-size: 1em;
    margin-left: 1em;
    padding-bottom: 20px;
}
.account {
    display: flex;
    margin-left: 1em;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
}
button {
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 5em;
    height: 3em;
}
button:hover {
    color: black;
    background-color: lightblue;
    transition: 0.3s;
}
button.signIn:hover {
    color: black;
    background-color: lightcoral;
    transition: 0.3s;
}
.footer {
    position: relative;
    top: 80vh;
}