.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.leftsidecontent {
    background-image: url("Images/Splash.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo {
    display: flex;
    position: relative;
    top: 20vh;

    justify-content: center;
    align-items: center;
}
.rightContent {
    display: flex;
    flex-direction: row;
}
.formsbody {
    display: flex;
    flex-direction: column;
}